@use "../abstracts/media-queries" as *;
@use "../abstracts/pseudo-element" as *;

.hero-section {
	flex: 1;

	margin-inline: var(--main-border-spacing);
	border-left: 1px solid var(--clr-text-heading);
	border-right: 1px solid var(--clr-text-heading);
	padding: 0 var(--main-border-spacing);

	&::before {
		@include pseudo(
			calc(100% - var(--main-border-spacing) * 2),
			calc(100% - var(--main-border-spacing) * 2)
		) {
			content: "";
			background-image: radial-gradient(
					circle at top right,
					hsla(0, 54%, 35%, 0.2) 0,
					transparent 30%
				),
				radial-gradient(
					circle at bottom left,
					hsla(219, 54%, 35%, 0.2) 0,
					transparent 30%
				);
		}
		z-index: -10;
	}

	&__wrapper {
		display: flex;
		align-items: start;
		justify-content: space-between;
		width: var(--main-container-width);

		@include mq("l") {
			flex-direction: column; // Needs better adjustment of nav
		}
	}

	&__intro-text {
		gap: 1rem;
		max-width: 58ch;
	}

	&__special-text {
		color: var(--clr-rose);
		font-family: var(--ff-special);
		font-size: var(--fs-300);
	}

	&__title {
		font-size: clamp(var(--fs-700), 6vw, var(--fs-900));
	}

	&__info {
		font-weight: var(--fw-thin);
		line-height: 1.3;
	}

	&__github-icon {
		// local custom prop for scaling icon
		--icon-width-large: 8rem;
		--icon-width-small: 4rem;
		--view-port-scaling: 15vw;
		width: clamp(
			var(--icon-width-small),
			var(--view-port-scaling),
			var(--icon-width-large)
		);
		height: clamp(
			var(--icon-width-small),
			var(--view-port-scaling),
			var(--icon-width-large)
		);
		transition: all 300ms ease-in-out;

		&:is(:hover, :focus) {
			color: var(--clr-rose);
			transform: translateY(-5px);
		}
	}
}
