.my-work-cards-container {
	position: relative;
	max-width: 60rem;
	overflow-x: auto;
	overflow-y: hidden;
	pointer-events: auto;

	&__content-wrapper {
		display: flex;
		gap: 1rem;
		padding-block: 1rem;
	}
}
