@use "../abstracts/media-queries" as *;
@use "../abstracts/pseudo-element" as *;

.primary-nav {
	font-family: var(--ff-special);

	&__list {
		gap: 1rem;
		margin-left: 96px; // dårlig løsning, men dette er hvor brei list markeren er. Er for alignment av liste.

		@include mq("s") {
			margin-left: 67.2px;
		}
	}

	&__list-item {
		position: relative;
		font-size: var(--fs-900);
		font-weight: var(--fw-xt-thin);

		@include mq("s") {
			font-size: var(--fs-700);
		}

		&::marker {
			content: "01. ";
			color: var(--clr-blue);
		}

		&:nth-child(2)::marker {
			content: "02. ";
			color: var(--clr-pink);
		}

		&:nth-child(3)::marker {
			content: "03. ";
			color: var(--clr-yellow);
		}

		&::after {
			@include pseudo(0, 4px) {
				background-color: var(--clr-text-regular);
				bottom: 0;
				left: 0;
				transition: width 0.2s ease-in-out;
			}
		}

		&:hover::after {
			@include pseudo(100%, 4px) {
				background-color: var(--clr-text-regular);
				bottom: 0;
				left: 0;
				border-radius: 100vw;
			}
		}
	}

	&__link {
		font-size: var(--fs-900);
		font-weight: var(--fw-xt-thin);
		text-decoration: none;

		@include mq("s") {
			font-size: var(--fs-700);
		}
	}
}
