@use "../abstracts/media-queries" as *;

.about-me {
	flex: 1;
	display: flex;
	justify-content: space-around;
	align-items: center;

	@include mq("m") {
		flex-direction: column;
	}

	&__info {
		display: flex;
		flex-direction: column;
		gap: 1rem;
		max-width: 75ch;

		& p {
			@include mq("m") {
				font-size: var(--fs-300);
			}
		}

		@include mq("ml") {
			max-width: 50ch;
		}

		@include mq("m") {
			max-width: 40ch;
		}
	}

	&__title {
		color: var(--clr-pink);
		font-size: clamp(var(--fs-400), 6vw, var(--fs-900));
		font-family: var(--ff-special);
		text-decoration: underline var(--clr-text-heading) 3px;
		text-underline-offset: 5px;
	}
}
