@use "../abstracts/media-queries" as *;

.contact-page {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-color: var(--clr-bg-2);

	form {
		display: grid;
		place-content: center;
	}
}
